#root {
  min-height: 100vh;
}

.app {
  min-height: 100vh;
  background: #050816;
  color: white;
}

main {
  min-height: calc(100vh - 80px);
}

.upload-section {
  min-height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 24px;
}

.upload-container {
  width: 100%;
  max-width: 900px;
  text-align: center;
}

.upload-container>h1 {
  font-size: 52px;
  margin-bottom: 18px;
  font-weight: 700;
  letter-spacing: -1.5px;
}

.upload-container>p {
  max-width: 700px;
  margin: 0 auto 50px;
  color: #9ca3af;
  font-size: 18px;
  line-height: 1.7;
}

.upload-box {
  width: 100%;
  min-height: 350px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 50px 30px;

  border: 2px dashed #4f46e5;
  border-radius: 20px;

  background: linear-gradient(145deg,
      rgba(79, 70, 229, 0.12),
      rgba(10, 15, 35, 0.8));

  transition: 0.3s ease;
}

.upload-box:hover {
  border-color: #818cf8;
  transform: translateY(-3px);

  box-shadow:
    0 20px 60px rgba(79, 70, 229, 0.15);
}

.upload-icon {
  width: 80px;
  height: 80px;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 25px;

  border-radius: 50%;

  background: linear-gradient(135deg,
      #4f46e5,
      #7c3aed);

  font-size: 38px;
  color: white;

  box-shadow:
    0 10px 30px rgba(79, 70, 229, 0.4);
}

.upload-box h2 {
  font-size: 26px;
  margin-bottom: 12px;
}

.upload-box p {
  color: #9ca3af;
  margin-bottom: 25px;
  font-size: 16px;
}

.upload-box input[type="file"] {
  color: #cbd5e1;
  cursor: pointer;
}

.upload-box input[type="file"]::file-selector-button {
  border: none;
  border-radius: 8px;

  padding: 12px 20px;
  margin-right: 15px;

  background: #4f46e5;
  color: white;

  font-weight: 600;
  cursor: pointer;

  transition: 0.2s ease;
}

.upload-box input[type="file"]::file-selector-button:hover {
  background: #6366f1;
}

@media (max-width: 768px) {
  .upload-container>h1 {
    font-size: 38px;
  }

  .upload-container>p {
    font-size: 16px;
  }

  .upload-section {
    padding: 40px 20px;
  }

  .upload-box {
    min-height: 300px;
  }
}

.choose-file-button {
  border: none;
  border-radius: 8px;
  padding: 12px 22px;

  background: #4f46e5;
  color: white;

  font-size: 15px;
  font-weight: 600;

  cursor: pointer;

  transition: 0.2s ease;
}

.choose-file-button:hover {
  background: #6366f1;
  transform: translateY(-2px);
}

.selected-file {
  margin-top: 18px !important;
  margin-bottom: 0 !important;

  color: #a5b4fc !important;
  font-weight: 500;
}

.upload-error {
  margin-top: 18px !important;
  margin-bottom: 0 !important;

  color: #f87171 !important;
  font-weight: 500;
}